@charset"utf-8";
body{ 
    margin:0;
    padding:20px;
}
div{ 
	height:200px;
	color:#F00;
}
.wrap,.left,.right,.center,.left-l,.right-1{
	border:1px solid #999;
	color:#999;
}
.wrap{
	height:418px;
	padding:20px;
	background-color:#eee;
}
.left{ 
	float:left;
	height:78px; 
	width:158px; 
	margin-right:-3px;
	padding:20px;
	background-color:#fff;
}
.right{ 
	float:right; 
	width:78px;
	height:378px; 
	background:#fff; 
	margin-left:-3px;
	padding:20px;
}
.center{
    height:378px; 
	background:#fff; 
	margin-left:220px;
	margin-right:140px;
	padding:20px; 
}
.left-l{
	width:38px;
	height:38px;
	padding:20px;
	background-color:#eee;
	display:inline-block;
	margin-right:20px;
	float:left;
	font-size:10px;
}
.left-r{
    font-size:12px;
}
.right-1{
	width:38px;
	height:38px;
	padding:20px;
	font-size:10px;
	background-color:#eee;
	margin-bottom:20px;
}