@charset="utf-8";
body,ul,li,h3{
	margin: 0;
	padding:0;
}
body{
	background-color:#eee;
}
ul,li,a{
	text-decoration:none;
	list-style:none;
}
.nav{
	width:100%;
	height:50px;
	background:#333;
}
.nav li{
	float:right;
	display: inline-block;
	margin-right:6px;
}
.nav li a{
	font-size:16px;
	color:#fff;
	line-height:50px;
}
/*导航部分样式结束*/
.wrap{
    padding:20px; 
}
.sideBar{
	padding:20px;
	width:340px;
	height:460px;
	float:right;
	background:#fff;
}
.title{
	font-size:18px;
	font-weight:normal;
	height:36px;
	line-height:40px;
	border-left:4px solid #eee;
	padding-left:8px;
}
.font-14{
	font-size:14px;
}
.font-ar{
	text-align:right;
    padding-right:10px;
}
table{
	margin:0 auto;
}
.sty{
margin-top:10px;
width:308px;
height:34px;
border-radius:8px;
color:#fff;
background-color:#3355d0;
}
.content{
	padding:20px;
	min-height:1200px;
	margin-right:400px;
	background-color:#fff;
	margin-bottom:20px;
}
.box1{
	height:400px;
	margin-bottom:20px;
	/*background-color:yellow;*/
}
.test{
	width:100%;
	margin-bottom:20px;
	margin-left:20px;
}
.pic{
	display:inline-block;
	margin-right:30px;
	border:1px solid #333;
}
.mb-20{
	margin-bottom:20px;
}

